@import '../constants/colors.scss';
.coins-container {
}
.table {
  height: 440px;
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-bottom: 1px rgb(226, 226, 226) solid;
    cursor: pointer;
  }
  &__price {
    text-align: right;
    width: 90px;
  }
  &__rank {
    width: 50px;
    text-align: center;
  }
  &__volume {
    width: 100px;
    text-align: center;
  }
  &__cap {
    width: 100px;
    text-align: center;
  }
  &__name {
    width: 200px;
  }
  &__item {
    margin: 10px 10px;
  }
}
